* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*COLOR DARK MODE*/
  --color-background:   #131215;
  --color-foreground:   black;
  --primary-color:      #8257e6;
  --secondary-color:    #e0acff;
  --font-color:         #dedfa4; 
  --color-back-section: #241f39;
  --titulo-fundo:       #360041;

  /* COLOR LIGHT MODE */
  --color-background:   #fffce4;
  --color-foreground:   #ffedd5;
  --primary-color:      #2d2c2a;
  --secondary-color:    #995000;
  --font-color:         #bb0011; 
  --color-back-section: #fed7aa;
  --titulo-fundo:       #fed7aa;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-background);
}

button {
  width: 20.0rem;
  height: 4.6rem;
  border-radius: 10px;
  color: var(--secondary-color);
  background-color: var(--primary-color);  
}

button:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

h1 {
  font-weight: 700;
  font-size: 2.0rem;
}

h2 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2.0rem;
}

h2.libre {
  color: var(--font-color);
  font-weight: 400;
  font-size: 2.0rem;
  font-family: 'Libre Bodoni', sans-serif;
  text-align: center;
}

h2.secao {
  color: var(--secondary-color);
}

h3 {
  color: var(--primary-color);
  font-weight: 700;
  font-style: italic;
  font-size: 2.0rem;
}

h4 {
  color: var(--font-color);
}

p {
  color:var(--font-color);
}

header,
footer {
  width: 100%;
  height: 170px;
  
  margin: 0 auto;
  margin-bottom: 1.0rem;
  border-radius: 10px;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--color-background);
}

.wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 720px;
}


/* -------- PAGINA CAPA 
                HEADER ----------- */
.container_capa {                  
  width: 90%;
  height: auto;
  margin: 0 auto;
  max-width: 720px;
  background-color: var(--color-background);
             
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.logo_capa {                  
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 1.0rem;
  background-color: var(--color-background);
             
  display:flex;
  justify-content: center;
  align-items: center;
}

/* -------- PAGINA CARDAPIO 
                HEADER ----------- */

.container_topo {
  display: flex;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; 
}

.container_topo_interno {
  display: flex;
  width: 80%;
  height: AUTO;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; 
  margin: 0 auto;
}

.tituloini {
  color: var(--primary-color);
}

.titulofim {
  color: var(--secondary-color);
}

.titulo,
.subtitulo {
  display: flex;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.subtitulo {
  height: 50px;
}

/*---------- MAIN - SECTION -------- */

section {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: auto;
  margin: 0 auto;
  background-color: var(--color-back-section);
  justify-content: center;
}

.sectitulo {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: var(--titulo-fundo);
  text-transform: uppercase;
}

.cardcontainer {
  display: flex;
  width: 96%;
  height: 120px;
  margin: 0 auto;
  background-color: var(--color-foreground);
  border-radius: 10px;
  margin: 0.5rem; 
}

.cardcontainer_produtos {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: inherit;
  border-radius: 10px;
  padding: 0.5rem;
}

.cardcontainer_precos {
  display: flex;
  width: 29%;
  height: inherit;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

.cardcontainer_col2_moeda,
.cardcontainer_col2_preco {
  display: flex;
  width: 70%;
  height: 90%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

.cardcontainer_col2_moeda{
  width: 30%; 
}

.nome,
.descricao {
  display: flex;
  width: 98%;
  height: 50px;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
}

.footer_row1,
.footer_row2 {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80px;
  border-radius: 10px;
  margin: 0.5rem;
  margin-top: 1.0rem;
  justify-content: center;
  text-align: center;
}